
body{
    font-family: 'Montserrat', sans-serif;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

.c-azul li {
    border: 1px solid #3B53FF;
  }

  .carousel-indicators .active {
    width: 10px;
    height: 10px;
    background-color: #3B53FF;
}




.inscreva{
    background-image: url(/img/lin.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.footer {

    position: absolute;
    left: 0;
    right: 0;
    color: white;
    background-color: #3B53FF;
    background-size: 100%;
    

}




@media (min-width: 1000px) { 

    .empresasConfirmadas{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        /* identical to box height */
        text-align: right;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    
        color: #3B53FF;
    
    }

    .mt-130{
        margin-top: 130px;
    }

    .espaco{
        height: 90px;
    }
    .mt-80{
        margin-top: 80px;
    }

    .mt-100{
        margin-top: 90px;
    }

    .blocoInscreva{
  
        width: 435px;
        height: 367px;
        background: #FAFAFA;
        
    }
    
    .blocoInscreva2{
    
        /* Rectangle 2.15 */
        width: 430px;
        height: 367px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 61px;
        letter-spacing: 0.03em;
        text-transform: lowercase;
    
        color: #3B53FF;
        border: 2px solid #3B53FF;
        box-sizing: border-box;
        border-radius: 10px;
      }
    
    .blocoInscreva3  {
        color: #00DEDE;
        border: 2px solid #00DEDE;
        border-radius: 10px;
    }

    .text-local{
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;

        letter-spacing: 0.03em;
        text-transform: uppercase;

    }

    .text-end{   
        font-style: normal;
        font-size: 18.5px;
        line-height: 23px;
        letter-spacing: 0.05em;
    }

    .bold{
        font-weight: bold;
    }

    .lesp-125{
        margin-left: 125px
    }

    .resp-80{
        margin-right: 80px
    }


    .footer-curva {

        background-image: url(/img/mk.svg);
        background-size: cover;
        min-width : 500px;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        right: 0;
    
    }


.tSejaBemVindo{

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 34.5px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    color: #3B53FF;
}

.data {
    font-weight: bold;
font-size: 80px;
line-height: 98px;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;
}

.parteencontro{
    font-weight: 500;
font-size: 18.5px;
line-height: 23px;
text-align: justify;
letter-spacing: 0.05em;
height: 24px;

color: #626262;

}
    

}


@media (max-width: 999px){


    .empresasConfirmadas{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        /* identical to box height */
        text-align: right;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    
        color: #3B53FF;
    
    }

    .mt-130{
        margin-top: 130px;
    }

    .espaco{
        height: 90px;
    }
    .mt-80{
        margin-top: 50px;
    }

    .mt-100{
        margin-top: 90px;
    }

    .blocoInscreva{
  
        width: 300px;
        height: 367px;
        background: #FAFAFA;
        
    }
    
    .blocoInscreva2{
    
        /* Rectangle 2.15 */
        width: 300px;
        height: 337px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 61px;
        letter-spacing: 0.03em;
        text-transform: lowercase;
    
        color: #3B53FF;
        border: 2px solid #3B53FF;
        box-sizing: border-box;
        border-radius: 10px;
      }
    
    .blocoInscreva3  {
        color: #00DEDE;
        border: 2px solid #00DEDE;
        border-radius: 10px;
    }

    .text-local{
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 49px;

        letter-spacing: 0.03em;
        text-transform: uppercase;

    }

    .text-end{   
        font-style: normal;
        font-size: 12.5px;
        line-height: 23px;
        letter-spacing: 0.05em;
    }

    .bold{
        font-weight: bold;
    }

    .lesp-125{
        margin-left: 20px
    }




    .footer-curva {

        background-image: url(/img/mk.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        right: 0;
    
    }


.tSejaBemVindo{

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 25.5px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    color: #3B53FF;
}

.set{
    width: 70%
}

.data {
    font-weight: bold;
font-size: 60px;
line-height: 58px;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;
}

.parteencontro{
    font-weight: 500;
font-size: 13.9px;
line-height: 23px;
text-align: justify;
letter-spacing: 0.05em;
height: 24px;

color: #626262;

}

}